* {margin: 0; padding: 0; box-sizing: border-box;}
body {display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background: url('https://i.postimg.cc/MTXYwMJ0/hackology.png') no-repeat fixed; background-size: cover;}
div {background-image: linear-gradient(to right bottom, rgba(135, 206, 235,0.8), rgba(240, 128, 128,0.7)); padding: 50px; width: 50%; height: auto; border-radius: 0 50px;}

/* userInput */
#userInput {display: flex; flex-direction: column;}
#userInput h2 {background-clip: text; -webkit-background-clip: text; color: transparent; background-image: linear-gradient(to left, rgba(0, 0, 0,0.7), rgb(208, 28, 28));}
#userInput {text-align: center;}
#userInput input {padding: 7px 13px; margin: 20px 0 0 0; background-color: rgba(0, 0, 0, 0.5); border: none; border-bottom: 2px solid rgba(254, 255, 255, 0.5); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; color: white; transform: scale(1); transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;}
#userInput input:focus {background-color: rgba(0, 0, 0, 0.9); transform: scale(1.1);}

/* userOperationCommand */
h3 {text-align: center; margin-top: 20px; background-clip: text; -webkit-background-clip: text; color: transparent; background-image: linear-gradient(to left, rgba(8, 14, 99, 0.7), rgb(208, 28, 73));}
#userOperationCommand {display: flex; align-items: center; justify-content: center; margin-top: 10px;}
#userOperationCommand .btn {padding: 5px 7px; background-color: rgba(135, 206, 235,0.3); border: none; margin: 2px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; font-weight: bold; color: aqua; cursor: pointer; transform: translateY(0); transition: transform 500ms ease-in-out, background-color 500ms ease-in-out;}
#userOperationCommand .btn:hover {transform: translateY(10px); background-color: rgba(0, 0, 0, 0.5);}

/* userOutput */
#userOutput {height: 150px; width: 100%; margin-top: 30px; display: flex; flex-direction: row; justify-content: center; align-items: center; text-align: center; background-image: linear-gradient(to right bottom, lightgray, lightcoral); font-size: 20px; font-weight: bold; background-clip: text; -webkit-background-clip: text; color: transparent; background-image: linear-gradient(to left, rgba(0, 0, 0,0.7), rgb(208, 28, 28));}



/* phoneDesign */
@media (max-width: 600px)
{

    * {font-size: small;}
    div {padding: 50px 10px; width: 70%;}
    #userInput input {padding: 5px 8px; font-size: 10px; margin-top: 7px; transform: scale(0.8);}
    #userInput input:focus {transform: scale(0.9);}
    #userOperationCommand .btn {padding: 3px; font-size: 10px; transform: scale(0.8); margin: 0;}
    #userOutput {font-size: 16px;}
}